@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
  font-size: 32px;
}

.sub-heading{
  font-size: 20px;
}

.p{
  font-size: 16px;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
