@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-text-color: rgb(108, 35, 104);
  --theme-text-color-light: #6C2368;
  --theme-bg-color: rgb(137, 75, 134);
  --theme-bg-color-light: #D274CD;

  --text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 32px;
}

.p {
  font-size: 16px;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: futura-lt-w01-book, sans-serif;
  letter-spacing: normal;
}

/* footer css */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  margin: 5rem 0rem;
}

.footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}

.footer .iconBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--theme-text-color);
  display: grid;
  place-items: center;
}

.footer .icon {
  color: white;
}

/* HOME */

.home .services,
.home .testimonials,
.home .location,
.home .welcome {
  margin: 2rem 0rem;
}

.home .location {
  height: 400px;
  width: 100%;
}

.home .welcome {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.home .welcome section {
  flex: 1;
  height: 250px;
  overflow: hidden;
}

.home .welcome section div,
.home .welcome .carouselImageBox {
  height: 100%;
  width: 100%;
}

.home .welcome section ul {
  height: 100%;
}

.home .welcome .content {
  text-align: center;
}

.home .welcome .content h4 {
  font-size: 1.25rem;
  font-family: futura-lt-w01-book, sans-serif;
  line-height: 1.67em;
  text-shadow: var(--text-shadow);
  color: var(--theme-text-color);
}

.home .welcome .content h1 {
  font-size: 4.5rem;
  color: var(--theme-text-color);
  line-height: normal;
  font-style: normal;
  text-shadow: var(--text-shadow);
}

.home .testimonials .innerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 5rem;
  padding: 3rem 8rem;
}

.home .testimonials .heading,
.home .services .heading {
  color: var(--theme-text-color-light);
  background-color: var(--theme-bg-color-light);
  padding: 0.25rem;
  text-align: center;
  font-size: 36px;
}

.home .testimonials .innerSection img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: unset;
}

.home .testimonials .innerSection a {
  height: 270px;
  width: 190px;
}

.home .testimonials .innerSection h2 {
  font-size: 30px;
  text-decoration: underline;
  color: var(--theme-text-color);
  text-shadow: var(--text-shadow);
  text-align: center;
  line-height: normal;
  margin-bottom: 2rem;
}

.home .testimonials .innerSection p {
  font-size: 20px;
  color: var(--theme-text-color-light);
  text-shadow: var(--text-shadow);
  text-align: center;
  line-height: 28px;
}

.home .services section ul {
  align-items: center;
  gap: 1rem;
}

.home .services .contentBox {
  color: rgb(108, 35, 104);
}

.home .services .carousel {
  margin: 1rem 0rem;
}

.home .services .contentBox .headingText {
  text-shadow: var(--text-shadow);
  text-align: center;
  line-height: 31px;
  color: var(--theme-text-color-light);
}

.home .services .contentBox .title {
  font-size: 22px;
}

.home .services .schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
}